body{
    margin: 100px 200px 100px 200px;
}

.container{
    border: 2px solid black;
}

.titulo{
    text-align: center;
}

.ingresar{
    position: relative;
}

.ingresar_producto{
    display: inline-block;
    margin-left: 20px;
}

.ingresar_cantidad{
    display: inline-block;
    position: absolute;
    right: 20px;
}

.subtitulo{
    margin: 5% 5% 0 5%;
    font-weight: bold;
    border: 1px solid black;
    text-align: center;
}

.margen_subtitulo{
    display:inline-block;
    width: 23%;
}

.articulos{
    margin: 0 5% 0 5%;
}

.contenido{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.totales{
    position: relative;
    margin: 10% 5% 2% 5%;
}

.firma{
    display: inline-block;
    margin-left: 30%;
    border-top: 1px solid black;
}

.total_factura{
    display: inline-block;
    position: absolute;
    right: 20px;
}

.js_contenidoli{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
}

.js_margen_contenido{
    display:inline-block;
    width: 23%;
}